body.company-nationwide-debt-relief .o_main_navbar  {
    background-color: #181596 !important; 
    color:white !important;
}

body.company-nationwide-debt-relief .o_main_navbar a, 
body.company-nationwide-debt-relief .o_main_navbar .dropdown-toggle, 
body.company-nationwide-debt-relief .o_main_navbar .o_menu_brand {
    background-color: #181596 !important; 
    color: white !important;
}

body.company-nationwide-debt-relief .o_main_navbar i {
    color: white !important;
}

body.company-nationwide-debt-relief .o_main_navbar .dropdown-menu a {
    color: white !important;
}

body.company-nationwide-debt-relief .o_main_navbar button {
    color: white !important;
}

body.company-nationwide-debt-relief .o_main_navbar .dropdown-menu a:hover {
    color: white !important;
}





body.company-the-borrowing-club .o_main_navbar  {
    background-color: #014b32 !important; 
    color:white !important;
}

body.company-the-borrowing-club .o_main_navbar a, 
body.company-the-borrowing-club .o_main_navbar .dropdown-toggle, 
body.company-the-borrowing-club .o_main_navbar .o_menu_brand {
    background-color: #014b32 !important; 
    color: white !important;
}

body.company-the-borrowing-club .o_main_navbar i {
    color: white !important;
}


body.company-the-borrowing-club .o_main_navbar .dropdown-menu a {
    color: white !important;
}

body.company-the-borrowing-club .o_main_navbar button {
    color: white !important;
}

body.company-the-borrowing-club .o_main_navbar .dropdown-menu a:hover {
    color: white !important;
}
